<section class='sign-in-box'>
  <h1 class='logo'> HouseMates </h1>
    <span class='auth-error'><%= flash[:errors].join("<br>").html_safe if flash[:errors] %></span>

  <form action='<%=session_url%>' method="post">
    <input type="hidden" name="authenticity_token" value= '<%=form_authenticity_token%>'>

    <div>
      <input type="text"
             name="user[username]"
             value='<%=@user.username%>'
             class='username-input'
             placeholder= 'Username'>
    </div>

    <div>
      <input placeholder= 'Password'
             type="password"
             name="user[password]"
             value='<%=@user.password%>'
             class='password-input'>
    </div>

    <div>
      <input type="submit"
            value="Log in"
            class='submitbutton'
            tabindex='0'>
    </div>

    <div class='no-account'>
      Don't have an account? <%=  link_to 'Sign_up', new_user_url %> or use the
    </form>
      <form action='<%=session_url%>' method="post" class='demo-user-form'>
        <input type="hidden" name="authenticity_token" value= '<%=form_authenticity_token%>'>
        <input type="hidden"  name="user[username]" value= 'demo-account'  >
        <input type="hidden"  name="user[password]" value= '123456'  >
        <input type="submit" value="Demo Account" class='demo-user-button'>
      </form>

    </div>


</section>
